.circle {
  transition: width 0.5s ease, height 0.5s ease, left 0.5s ease, top 0.5s ease, z-index 0s ease-out;
}

.shrink {
  transform: scale(0.8); /* Adjust the scale as needed */
  opacity: 0.7; /* Adjust the opacity as needed */
}

@keyframes delayed-appear {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  50% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 100;
  }
}

.animate-delayed-appear {
  animation: delayed-appear 2s ease-out 2s forwards;
}
